/* Font Styles */
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
    .glass-effect
    {
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }
}

@media (max-width: 768px)
{
    .glass-effect 
    {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}