/* Font Styles */
@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/PlusJakartaSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('fonts/PlusJakartaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect
{
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

/* Styling for Hero Images */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  z-index: 1;
}

.slide.active {
  opacity: 1;
  z-index: 2;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.85);
}

/* Styling for LogIn Button */
.editorial-gradient
{
    background: linear-gradient(135deg, #00327d 0%, #0047ab 100%);
}

/* Styling for Sign Up Page */
.antialiased
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Styling of each article in result page */
.editorial-shadow
{
    box-shadow: 0 20px 40px -15px rgba(26, 28, 25, 0.06);
}

/* Map styling on itinerary page */
.map-gradient-overlay
{
    background: linear-gradient(to right, #fafaf5 0%, transparent 15%);
}

@media (max-width: 768px)
{
    .glass-effect 
    {
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}